
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf") format("truetype");
  font-style: italic;
}

/* Normal weight */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; /* exact normal */
}

/* Medium weight */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

/* Bold weight */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

:root {
  --primary-accent: #FBAC83;
  --font-color: #3B3731;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 49px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul a {
  color: var(--font-color);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800; /* normal */
  font-style: normal;
}


a {
    text-decoration: none;
    color: var(--font-color);
}

nav ul a.active {
    color: var(--primary-accent);
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 4px;
    text-underline-position: from-font;
}

.login-btn, 
.signup-btn {
    padding: 10px 35px 10px 35px;
    color: var(--font-color);
    background: none;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    font-family: "Lato";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    border-radius: 25px;
}

.signup-btn.active {
    background-color: var(--primary-accent);
    color: white;
    border: none;
}

img {
    width: 100%;
}


.hero-section img {
    width: 100%;
    height: 436px;
    object-fit: cover;
}


.hero-section {
    position: relative;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.hero-text {
    color: var(--font-color);
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    line-height: 60px;
    font-weight: 900;
}

.book-text {
    color: var(--font-color);
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: italic;
    line-height: 60px;
    font-weight: 600;
}

.inverted-radius {
    --r: 20px;
    --s: 30px;
    --x: 250px;
    --y: 136px;
    height: 436px;
    border-radius: var(--r);
    --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%, #0000 72%);
    --_g: conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask: calc(100% - var(--_d) - var(--x)) 100% var(--_m), 100% calc(100% - var(--_d) - var(--y)) var(--_m), radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px)) calc(-1 * var(--r) - var(--x)) calc(-1 * var(--r) - var(--y)), var(--_g) calc(-1 * var(--_d) - var(--x)) 0, var(--_g) 0 calc(-1 * var(--_d) - var(--y));
    mask-repeat: no-repeat;
}